# This file was auto-generated by Fern from our API Definition.

from __future__ import annotations

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.pagination import AsyncPager, SyncPager
from ..core.request_options import RequestOptions
from ..types.notification import Notification
from .raw_client import AsyncRawNotificationsClient, RawNotificationsClient
from .types.badges_notifications_response import BadgesNotificationsResponse
from .types.create_notifications_response import CreateNotificationsResponse
from .types.list_notifications_response import ListNotificationsResponse
from .types.mark_read_notifications_response import MarkReadNotificationsResponse

if typing.TYPE_CHECKING:
    from .topics.client import AsyncTopicsClient, TopicsClient
# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class NotificationsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawNotificationsClient(client_wrapper=client_wrapper)
        self._client_wrapper = client_wrapper
        self._topics: typing.Optional[TopicsClient] = None

    @property
    def with_raw_response(self) -> RawNotificationsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawNotificationsClient
        """
        return self._raw_client

    def list(
        self,
        *,
        unread: typing.Optional[bool] = None,
        experience_id: typing.Optional[str] = None,
        account_id: typing.Optional[str] = None,
        mentions: typing.Optional[bool] = None,
        first: typing.Optional[int] = None,
        after: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[Notification, ListNotificationsResponse]:
        """
        Lists the authenticated user's notifications, newest first. Requires a user credential — an account API key has no notification feed. Without filters the feed spans every experience the user belongs to plus the teams they are a member of.

        Parameters
        ----------
        unread : typing.Optional[bool]
            Only return notifications created since the user last viewed their source.

        experience_id : typing.Optional[str]
            Only return notifications from this experience (`exp_` tag).

        account_id : typing.Optional[str]
            Only return team notifications for this account (`biz_` tag).

        mentions : typing.Optional[bool]
            Only return notifications that mention the user directly.

        first : typing.Optional[int]
            The number of notifications to return (default 20, max 100).

        after : typing.Optional[str]
            A cursor (a notification `id` from a previous page); returns notifications older than it.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[Notification, ListNotificationsResponse]
            notifications listed

        Examples
        --------
        from whop_sdk import Whop

        client = Whop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )
        response = client.notifications.list()
        for item in response:
            yield item
        # alternatively, you can paginate page-by-page
        for page in response.iter_pages():
            yield page
        """
        return self._raw_client.list(
            unread=unread,
            experience_id=experience_id,
            account_id=account_id,
            mentions=mentions,
            first=first,
            after=after,
            request_options=request_options,
        )

    def create(
        self,
        *,
        content: str,
        title: str,
        account_id: typing.Optional[str] = OMIT,
        experience_id: typing.Optional[str] = OMIT,
        icon_user_id: typing.Optional[str] = OMIT,
        rest_path: typing.Optional[str] = OMIT,
        subtitle: typing.Optional[str] = OMIT,
        user_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateNotificationsResponse:
        """
        Queues a notification to every user of an experience or to an account's team, processed asynchronously. Every send is attributed to an app: use an app API key, or a credential acting on behalf of an app. Narrow the audience with `user_ids` to send a mention.

        Parameters
        ----------
        content : str
            Main body text of the notification.

        title : str
            Headline text of the notification.

        account_id : typing.Optional[str]
            Account whose team members receive the notification (`biz_` tag). Exactly one of `experience_id` or `account_id` is required.

        experience_id : typing.Optional[str]
            Experience whose users receive the notification (`exp_` tag). Exactly one of `experience_id` or `account_id` is required.

        icon_user_id : typing.Optional[str]
            User whose profile picture is used as the notification icon. Defaults to the experience or account avatar.

        rest_path : typing.Optional[str]
            Path segment appended to the generated deep link that opens your app, for example `/settings/billing`.

        subtitle : typing.Optional[str]
            Optional secondary line displayed below the title.

        user_ids : typing.Optional[typing.Sequence[str]]
            Optional `user_` tags narrowing the audience. When provided, only these users are notified (as a mention), provided they are in the targeted experience or account.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateNotificationsResponse
            notification queued

        Examples
        --------
        from whop_sdk import Whop

        client = Whop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )
        client.notifications.create(
            content="Drop off at 4180 Burnet Rd. Plan on two days for the full coating.",
            title="Your ceramic coating is booked",
        )
        """
        _response = self._raw_client.create(
            content=content,
            title=title,
            account_id=account_id,
            experience_id=experience_id,
            icon_user_id=icon_user_id,
            rest_path=rest_path,
            subtitle=subtitle,
            user_ids=user_ids,
            request_options=request_options,
        )
        return _response.data

    def badges(
        self,
        *,
        experience_ids: typing.Optional[typing.Union[str, typing.Sequence[str]]] = None,
        last_fetched_at: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BadgesNotificationsResponse:
        """
        Lists the authenticated user's per-experience unread badge state. Requires a user credential. Returns one row per experience the user belongs to (or per requested experience).

        Parameters
        ----------
        experience_ids : typing.Optional[typing.Union[str, typing.Sequence[str]]]
            Only return badges for these experiences (`exp_` tags).

        last_fetched_at : typing.Optional[str]
            The client's last fetched-at ISO 8601 timestamp, used to partially refresh badges after a websocket message.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BadgesNotificationsResponse
            badges listed

        Examples
        --------
        from whop_sdk import Whop

        client = Whop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )
        client.notifications.badges(
            experience_ids=["exp_xxxxxxxxxxxxxx"],
        )
        """
        _response = self._raw_client.badges(
            experience_ids=experience_ids, last_fetched_at=last_fetched_at, request_options=request_options
        )
        return _response.data

    def mark_read(
        self,
        *,
        all_: typing.Optional[bool] = OMIT,
        experience_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> MarkReadNotificationsResponse:
        """
        Marks the authenticated user's notifications as read: one experience's (`experience_id`) or everything (`all: true`) — exactly one of the two. Requires a user credential. Responds with the refreshed badge rows for the affected scope.

        Parameters
        ----------
        all_ : typing.Optional[bool]
            Pass `true` to mark every notification read. Exactly one of `experience_id` or `all` is required.

        experience_id : typing.Optional[str]
            Experience to mark read (`exp_` tag). Exactly one of `experience_id` or `all` is required.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        MarkReadNotificationsResponse
            notifications marked read

        Examples
        --------
        from whop_sdk import Whop

        client = Whop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )
        client.notifications.mark_read()
        """
        _response = self._raw_client.mark_read(all_=all_, experience_id=experience_id, request_options=request_options)
        return _response.data

    def retrieve(self, id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Notification:
        """
        Retrieves a single notification by id — either an `id` returned by List Notifications, or the ephemeral id delivered with a push/websocket event. Requires a user credential.

        Parameters
        ----------
        id : str
            A notification `id` from List Notifications, or the id delivered with a push/websocket event.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Notification
            notification found

        Examples
        --------
        from whop_sdk import Whop

        client = Whop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )
        client.notifications.retrieve(
            id="id",
        )
        """
        _response = self._raw_client.retrieve(id, request_options=request_options)
        return _response.data

    @property
    def topics(self):
        if self._topics is None:
            from .topics.client import TopicsClient  # noqa: E402

            self._topics = TopicsClient(client_wrapper=self._client_wrapper)
        return self._topics


class AsyncNotificationsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawNotificationsClient(client_wrapper=client_wrapper)
        self._client_wrapper = client_wrapper
        self._topics: typing.Optional[AsyncTopicsClient] = None

    @property
    def with_raw_response(self) -> AsyncRawNotificationsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawNotificationsClient
        """
        return self._raw_client

    async def list(
        self,
        *,
        unread: typing.Optional[bool] = None,
        experience_id: typing.Optional[str] = None,
        account_id: typing.Optional[str] = None,
        mentions: typing.Optional[bool] = None,
        first: typing.Optional[int] = None,
        after: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[Notification, ListNotificationsResponse]:
        """
        Lists the authenticated user's notifications, newest first. Requires a user credential — an account API key has no notification feed. Without filters the feed spans every experience the user belongs to plus the teams they are a member of.

        Parameters
        ----------
        unread : typing.Optional[bool]
            Only return notifications created since the user last viewed their source.

        experience_id : typing.Optional[str]
            Only return notifications from this experience (`exp_` tag).

        account_id : typing.Optional[str]
            Only return team notifications for this account (`biz_` tag).

        mentions : typing.Optional[bool]
            Only return notifications that mention the user directly.

        first : typing.Optional[int]
            The number of notifications to return (default 20, max 100).

        after : typing.Optional[str]
            A cursor (a notification `id` from a previous page); returns notifications older than it.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[Notification, ListNotificationsResponse]
            notifications listed

        Examples
        --------
        import asyncio

        from whop_sdk import AsyncWhop

        client = AsyncWhop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            response = await client.notifications.list()
            async for item in response:
                yield item

            # alternatively, you can paginate page-by-page
            async for page in response.iter_pages():
                yield page


        asyncio.run(main())
        """
        return await self._raw_client.list(
            unread=unread,
            experience_id=experience_id,
            account_id=account_id,
            mentions=mentions,
            first=first,
            after=after,
            request_options=request_options,
        )

    async def create(
        self,
        *,
        content: str,
        title: str,
        account_id: typing.Optional[str] = OMIT,
        experience_id: typing.Optional[str] = OMIT,
        icon_user_id: typing.Optional[str] = OMIT,
        rest_path: typing.Optional[str] = OMIT,
        subtitle: typing.Optional[str] = OMIT,
        user_ids: typing.Optional[typing.Sequence[str]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateNotificationsResponse:
        """
        Queues a notification to every user of an experience or to an account's team, processed asynchronously. Every send is attributed to an app: use an app API key, or a credential acting on behalf of an app. Narrow the audience with `user_ids` to send a mention.

        Parameters
        ----------
        content : str
            Main body text of the notification.

        title : str
            Headline text of the notification.

        account_id : typing.Optional[str]
            Account whose team members receive the notification (`biz_` tag). Exactly one of `experience_id` or `account_id` is required.

        experience_id : typing.Optional[str]
            Experience whose users receive the notification (`exp_` tag). Exactly one of `experience_id` or `account_id` is required.

        icon_user_id : typing.Optional[str]
            User whose profile picture is used as the notification icon. Defaults to the experience or account avatar.

        rest_path : typing.Optional[str]
            Path segment appended to the generated deep link that opens your app, for example `/settings/billing`.

        subtitle : typing.Optional[str]
            Optional secondary line displayed below the title.

        user_ids : typing.Optional[typing.Sequence[str]]
            Optional `user_` tags narrowing the audience. When provided, only these users are notified (as a mention), provided they are in the targeted experience or account.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateNotificationsResponse
            notification queued

        Examples
        --------
        import asyncio

        from whop_sdk import AsyncWhop

        client = AsyncWhop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.notifications.create(
                content="Drop off at 4180 Burnet Rd. Plan on two days for the full coating.",
                title="Your ceramic coating is booked",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            content=content,
            title=title,
            account_id=account_id,
            experience_id=experience_id,
            icon_user_id=icon_user_id,
            rest_path=rest_path,
            subtitle=subtitle,
            user_ids=user_ids,
            request_options=request_options,
        )
        return _response.data

    async def badges(
        self,
        *,
        experience_ids: typing.Optional[typing.Union[str, typing.Sequence[str]]] = None,
        last_fetched_at: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> BadgesNotificationsResponse:
        """
        Lists the authenticated user's per-experience unread badge state. Requires a user credential. Returns one row per experience the user belongs to (or per requested experience).

        Parameters
        ----------
        experience_ids : typing.Optional[typing.Union[str, typing.Sequence[str]]]
            Only return badges for these experiences (`exp_` tags).

        last_fetched_at : typing.Optional[str]
            The client's last fetched-at ISO 8601 timestamp, used to partially refresh badges after a websocket message.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        BadgesNotificationsResponse
            badges listed

        Examples
        --------
        import asyncio

        from whop_sdk import AsyncWhop

        client = AsyncWhop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.notifications.badges(
                experience_ids=["exp_xxxxxxxxxxxxxx"],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.badges(
            experience_ids=experience_ids, last_fetched_at=last_fetched_at, request_options=request_options
        )
        return _response.data

    async def mark_read(
        self,
        *,
        all_: typing.Optional[bool] = OMIT,
        experience_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> MarkReadNotificationsResponse:
        """
        Marks the authenticated user's notifications as read: one experience's (`experience_id`) or everything (`all: true`) — exactly one of the two. Requires a user credential. Responds with the refreshed badge rows for the affected scope.

        Parameters
        ----------
        all_ : typing.Optional[bool]
            Pass `true` to mark every notification read. Exactly one of `experience_id` or `all` is required.

        experience_id : typing.Optional[str]
            Experience to mark read (`exp_` tag). Exactly one of `experience_id` or `all` is required.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        MarkReadNotificationsResponse
            notifications marked read

        Examples
        --------
        import asyncio

        from whop_sdk import AsyncWhop

        client = AsyncWhop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.notifications.mark_read()


        asyncio.run(main())
        """
        _response = await self._raw_client.mark_read(
            all_=all_, experience_id=experience_id, request_options=request_options
        )
        return _response.data

    async def retrieve(self, id: str, *, request_options: typing.Optional[RequestOptions] = None) -> Notification:
        """
        Retrieves a single notification by id — either an `id` returned by List Notifications, or the ephemeral id delivered with a push/websocket event. Requires a user credential.

        Parameters
        ----------
        id : str
            A notification `id` from List Notifications, or the id delivered with a push/websocket event.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        Notification
            notification found

        Examples
        --------
        import asyncio

        from whop_sdk import AsyncWhop

        client = AsyncWhop(
            "2026-09-02-2",
            idempotency_key="YOUR_IDEMPOTENCY_KEY",
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.notifications.retrieve(
                id="id",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve(id, request_options=request_options)
        return _response.data

    @property
    def topics(self):
        if self._topics is None:
            from .topics.client import AsyncTopicsClient  # noqa: E402

            self._topics = AsyncTopicsClient(client_wrapper=self._client_wrapper)
        return self._topics
